.hide {
  opacity: 0;
}
#show {
  opacity: 1;
}

.game {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.canvas {
  margin-top: 1rem;
  background-color: var(--yellow);
  border-radius: 10px;
  box-shadow: var(--BOX-SHADOW);
  height: 400px;
  width: 90%;
  padding: 1.5rem;
}

.canvas__inner {
  position: relative;
  height: 100%;
}

.hint__icon {
  position: absolute;
  width: 2em;
  height: 2em;
  background-color: var(--white-btn);
  border-radius: 50%;
  display: grid;
  place-content: center;
  color: var(--man);
  right: -10px;
  top: -10px;
  font-size: 2em;
  box-shadow: var(--BOX-SHADOW);
  opacity: 0.8;
  cursor: pointer;
}

.hint__icon.pressed {
  background-color: var(--man);
  color: var(--white-btn);
  box-shadow: inset var(--BOX-SHADOW);
}

.hint__window {
  position: absolute;
  width: 100%;
  background-color: var(--blue);
  border-radius: 10px;
  z-index: 3;
  top: 40%;
  left: 0;
  padding: 1.5em;
  text-align: center;
  box-shadow: -1px 15px 10px 2px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s, transform 0.3s;
  font-size: 2em;
}

.hint__window.hide {
  opacity: 0;
  transform: translateY(15px);
}

.canvas__line {
  position: absolute;
  background-color: var(--black);
  transition: opacity 0.3s;
}

.canvas__line.top {
  height: 0.625em;
  width: 12.5em;
  left: 37px;
  top: 0;
}

.canvas__line.rope {
  height: 4.7em;
  width: 0.2em;
  left: 58px;
  top: -34px;
  transform-origin: top center;
  z-index: 2;
  opacity: 0;
}

.canvas__line.diag {
  height: 0.4375em;
  width: 4.2em;
  rotate: -40deg;
  top: 25px;
  left: 30px;
}

.canvas__line.vertical {
  height: 18.75em;
  width: 0.625em;
  top: 0;
  left: 40px;
}

.canvas__line.bottom {
  height: 0.75em;
  width: 15em;
  top: 300px;
  left: 20px;
}

.man {
  position: relative;
  height: 220px;
  width: 120px;
  top: 40px;
  left: 135px;
  transition: opacity 0.3s;
  transform-origin: 65px -40px;
}

.man.swing {
  animation: swing 3.5s ease-in-out infinite;
}

.man__head {
  position: absolute;
  height: 40px;
  width: 40px;
  border: 1px solid black;
  background-color: var(--man);
  border-radius: 50%;
  left: 35%;
  opacity: 0;
  transform-origin: bottom center;
  animation: swingHead 3.5s ease-in-out infinite;
}

.man__body {
  z-index: 1;
  position: absolute;
  height: 140px;
  width: 25px;
  border: 1px solid black;
  background-color: var(--man);
  border-radius: 75%;
  left: 40%;
  top: 40px;
  opacity: 0;
}

.man__line {
  position: absolute;
  height: 52px;
  width: 5px;
  border: 1px solid black;
  background-color: var(--man);
  border-radius: 20%;
  z-index: 0;
  transform-origin: top center;
  opacity: 0;
}

.man__line.swing {
  animation: swingBody 7s ease-in-out infinite;
}

.man__line.lh {
  top: 45px;
  left: 56px;
  rotate: 45deg;
}

.man__line.rh {
  top: 45px;
  left: 61px;
  rotate: -45deg;
}
.man__line.ll {
  top: 174px;
  left: 56px;
  rotate: 20deg;
}
.man__line.rl {
  top: 174px;
  left: 60px;
  rotate: -20deg;
}

@keyframes swingBody {
  0% {
    transform: rotateZ(-25deg);
  }
  25% {
    transform: rotateZ(25deg);
  }
  50% {
    transform: rotateZ(-25deg);
  }
  75% {
    transform: rotateZ(25deg);
  }
  100% {
    transform: rotateZ(-25deg);
  }
}

@keyframes swingHead {
  0% {
    transform: rotateZ(60deg);
  }
  50% {
    transform: rotateZ(-60deg);
  }
  100% {
    transform: rotateZ(60deg);
  }
}
