:root {
  /* VARIABLES  */
  --orange: #ea7317;
  --white: #fff;
  --blue: #2364aa;
  --white-btn: #d9d9d9;
  --yellow: #fec601;
  --black: #000;
  --man: #73bfb8;

  --BOX-SHADOW: -2px 4px 4px 0px rgba(0, 0, 0, 0.25);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  background-color: #000;
  color: var(--white);
}

.root {
  height: 100vh;
  height: 100dvh;
}

.App {
  margin: 0 auto;
  background-color: var(--orange);
  height: 100vh;
  height: 100dvh;
  max-width: 600px;
  position: relative;
  font-family: "KoHo", sans-serif;
}

.App.ru,
.App.ru h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.lang {
  position: absolute;
  right: 1.4em;
  top: 0;
  z-index: 3;
  height: 2.3em;
  width: 2.3em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.7;
}
.lang:hover {
  opacity: 1;
}
.lang.en {
  background-image: url("https://upload.wikimedia.org/wikipedia/en/a/ae/Flag_of_the_United_Kingdom.svg");
}
.lang.ru {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f3/Flag_of_Russia.svg");
}
